@font-face {
    font-family: Roboto;
    src: url(./Assets/Roboto-Font/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(./Assets/Roboto-Font/Roboto-Light.ttf);
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 0.7fr 1fr 1fr 1fr;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-areas: "sidebar header header header" "sidebar main main main" "sidebar main main main" "sidebar main main main";
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

#sidebar {
    grid-area: sidebar;
    background-color: rgb(70, 166, 255);
    display: grid;
    color: white;
    grid-template-rows: 0.50fr 1fr 0.4fr 2fr;
    grid-template-areas: "Logo" "Sections" "Space" "Settings";
    padding: 35px;
    box-shadow: 2px 0 2px -2px rgba(0,0,0,0.7);
    z-index: 100;
}

#header {
    grid-area: header;
    padding: 0;
    padding-left: 45px;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 5px;
    z-index: 100;
    box-shadow: 0 6px 15px -15px rgba(0,0,0,0.7); 
}

#main {
    grid-area: main;
    background-color: rgb(210, 220, 228);
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-template-areas: "Project Announcements";
    padding: 40px 0 25px 35px;
}

.sidebar-sections {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}

#sidebar-logo {
    font-size: 36px;
    font-weight: 700;
}

#sidebar-top {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

#sidebar-settings {
    display: grid;
    grid-area: Settings;
    grid-template-rows: 1fr 1fr 1fr 9fr;
}

.section-logo {
    padding-right: 15px;
}

#search {
    background-color: rgb(210, 220, 228);
    border-width: 0px;
    border-radius: 20px;
    width: 90%;
    height: 35px;
}

#searchbar {
    display: flex;
    align-items: center;
}

#user-info {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    justify-self: start;
    gap: 25px;
    padding-left: 9em;
}

#username {
    font-size: 22px;
    font-weight: 600;
}

#user-greeting {
    display: grid;
    grid-template-columns: 1fr 3.2fr;
    justify-self: start;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
}

#hello {
    font-size: 16px;
    font-weight: 700;
}

#user-at {
    font-size: 24px;
    padding-top: 8px;
}

button {
    font-weight: 600;
    font-size: 18px;
    background-color: rgb(70, 166, 255);
    color: white;
    border-radius: 30px;
    width: 7em;
    height: 2.25em;
    border-width: 0px;
}

#button-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: start;
    align-items: center;
    gap: 30px;
}

#projects {
    grid-area: Project;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.15fr 1fr 1fr 1fr;
}

.main-heading {
    font-family: Roboto-Light;
    font-size: 22px;
    font-weight: 600;
}

#announcements {
    grid-area: Announcements;
    display: grid;
    grid-template-rows: 0.105fr 1fr 0.105fr 1fr;
    margin-right: 45px;
}

.announcements-card {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 35px;
    box-shadow: 1px 3px 3px rgba(125, 125, 125, 0.614);
    padding: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;

}

.project-card {
    background-color: white;
    border-radius: 10px;
    margin-right: 45px;
    margin-bottom: 35px;
    padding: 30px;
    box-shadow: 1px 3px 3px rgba(125, 125, 125, 0.614);
    border-left-style: inset;
    border-left-width: 10px;
    border-left-color: rgba(128, 0, 255, 0.464);
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

.project-heading {
    font-size: 20px;
    font-weight: 900;
}

.project-icons {
    align-self: end;
    justify-self: end;
}

.project-icons img {
    padding-left: 15px;
}

.project-text {
    font-family: Roboto-Light;   
}

.announcements-title {
    font-size: 16px;
    font-weight: 600;
}

.announcements-text {
    padding-top: 3px;
    font-size: 14px;
    font-family: Roboto-Light;
}

.app-card {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 35px;
    box-shadow: 1px 3px 3px rgba(125, 125, 125, 0.614);
    padding: 25px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr;
}

.app-icon {
    height: 64px;
    width: 64px;
    align-self: center;
    justify-self: center;
}

.app-info {
    padding-left: 16px;
    display: grid;
    align-self: center;
    font-family: Roboto-Light;
    gap: 5px;
}

.app-author {
    font-size: 16px;
    font-weight: 600;
}

.app-name {
    font-size: 14px;
}